{%- if product.available -%}
    {%- if show_quick_add -%}
      <div class="flex justify-end pointer-events-none w-fit cust__quick-add--mobile quick-add md:justify-center z-1">
        {%- if product.variants.size == 1 -%}
          {%- capture product_form_id -%}QuickAddProductForm-{{ section_id }}-{{ product.id }}{%- endcapture -%}
          {%- form 'product', product, is: 'product-form', id: product_form_id -%}
            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" />
            {%- liquid
              if product.template_suffix != 'pre-order'
                assign quick_add_label = 'products.product.add_to_cart' | t
              else
                assign quick_add_label = 'products.product.pre_order' | t
              endif
            -%}
            <button type="submit" class="{% if is_vertical_on_mobile %}jc-hidden{% endif %} cust__product-card__variant--button pointer-events-auto jc-p-2.5 jc-bg-black jc-border-2 jc-border-solid jc-border-black hover:jc-bg-transparent jc-rounded-xs md:opacity-0 jc-text-white hover:jc-text-black jc-transition-all" is="hover-button" data-variant-id="{{ product.selected_or_first_available_variant.id }}" aria-label="{{ quick_add_label | escape }}">
              <span class="btn-fill" data-fill></span>
              <span class="btn-text">
                {%- render 'icon', icon: 'cart', size: 'sm', class: 'md:hidden' -%}
                <span class="hidden md:block" data-sold-out="{{ 'products.product.sold_out' | t | escape }}">
                  {{- quick_add_label -}}...
                </span>
              </span>
            </button>
          {%- endform -%}
        {%- else -%}
          {%- if show_quick_view -%}
            <button type="button" class="cust__product-card__variant--button pointer-events-auto button button--primary md:opacity-0" is="hover-button" aria-controls="Quickview-{{ section_id }}-{{ product.id }}" aria-expanded="false" aria-label="{{ 'products.product.choose_options' | t | escape }}">
              <span class="btn-fill" data-fill></span>
              <span class="btn-text">
                {%- render 'icon', icon: 'cart', size: 'sm', class: 'md:hidden' -%}
                <span class="hidden md:block">
                  {{- 'products.product.choose_options' | t -}}.
                </span>
              </span>
            </button>
          {%- else -%}
            <a href="{{ product.url }}" class="cust__product-card__variant--button pointer-events-auto button button--primary md:opacity-0" is="hover-link" aria-label="{{ 'products.product.view_product' | t | escape }}">
              <span class="btn-fill" data-fill></span>
              <span class="btn-text">
                {%- render 'icon', icon: 'cart', size: 'sm', class: 'md:hidden' -%}
                <span class="hidden md:block">
                  {{- 'products.product.view_product' | t -}}..
                </span>
              </span>
            </a>
          {%- endif -%}
        {%- endif -%}
      </div>
    {%- endif -%}
  {%- else -%}
    {% comment %} START DIALECT - Hide the Sold Out label on mobile (conflict on desktop where it displayed twice) {% endcomment %}
    {% comment %} <div class="absolute flex justify-center w-full pointer-events-none quick-add z-1">
      <button type="button" class="button button--secondary button--blur" disabled="disabled">
        {{- 'products.product.sold_out' | t -}}
      </button>
    </div> {% endcomment %}
    {% comment %} END DIALECT - Hide the Sold Out label on mobile (conflict on desktop where it displayed twice) {% endcomment %}
  {%- endif -%}