{%- comment -%}
  Renders a header menu drawer component

  Accepts:
  - section: {Object}

  Usage:
  {% render 'header-drawer', section: section %}
{%- endcomment -%}

<menu-drawer id="MenuDrawer" class="fixed bottom-0 left-0 z-30 w-full h-full pointer-events-none menu-drawer drawer drawer--start"
  data-section-id="{{ section.id }}"
  hidden
>
  <overlay-element class="fixed bottom-0 left-0 invisible w-full h-screen opacity-0 pointer-events-none overlay fixed-modal" aria-controls="MenuDrawer" aria-expanded="false"></overlay-element>
  <div class="absolute top-0 z-10 flex flex-col w-full h-full overflow-hidden drawer__inner">
    <gesture-element class="relative flex items-center justify-between invisible opacity-0 drawer__header">
      <span class="text-2xl font-bold leading-none tracking-tight drawer__title heading lg:text-3xl"></span>
      <button class="items-center justify-center hidden button button--secondary button--close drawer__close sm:flex" type="button" is="hover-button" aria-controls="MenuDrawer" aria-expanded="false" aria-label="{{ 'general.accessibility.close' | t | escape }}">
        <span class="btn-fill" data-fill></span>
        <span class="btn-text">
          {%- render 'icon', icon: 'close', size: 'sm' -%}
        </span>
      </button>
    </gesture-element>
    <div class="flex flex-col invisible h-full opacity-0 drawer__content grow shrink">
      <nav class="relative overflow-hidden grow" role="navigation">
        <ul class="relative w-full h-full drawer__scrollable drawer__menu" role="list" data-parent>
          {%- assign main_menu = section.settings.menu_mobile | default: section.settings.menu -%}
          {%- for link in main_menu.links -%}
            {% if link.object.metafields.jolly_meta.menu_badge.value != blank %}
              {% capture badge %}<span class="jc-bg-vividTangelo jc-text-white jc-font-['din_next'] jc-font-medium jc-text-xs md:jc-text-sm jc-leading-3 md:jc-leading-5 jc-px-1.5 jc-pt-1 jc-pb-0.5 jc-rounded-xxs">{{ link.object.metafields.jolly_meta.menu_badge.value }}</span>
              {% endcapture %}
            {% endif %}
            <li>
              {%- liquid
                assign enable_mega_menu = false
                assign link_title_handle = link.title | downcase | handle
          
                for block in section.blocks
                  assign menu_title_handle = block.settings.menu_title | downcase | handle
                  if menu_title_handle == link_title_handle
                    assign enable_mega_menu = true
                    assign mega_menu_block = block
                    break
                  endif
                endfor
              -%}

              {%- if link.links != blank or enable_mega_menu -%}
                {%- render 'header-nav-drawer', link: link, enable_mega_menu: enable_mega_menu, block: mega_menu_block -%}
              {%- else -%}
                <a class="flex items-center block gap-2 text-2xl font-bold leading-none tracking-tight drawer__menu-item" href="{{ link.url }}">{{ link.title | escape }}
                  {% if link.object.metafields.jolly_meta.menu_badge.value != blank %}
                    {{ badge }}
                  {% endif %}
                </a>
              {%- endif -%}
            </li>
          {%- endfor -%}
          
          {%- if section.settings.custom_link_text != blank -%}
            <li>
              <a
                class="flex items-center block gap-2 text-2xl font-bold leading-none tracking-tight drawer__menu-item"
                href="{{ section.settings.custom_link }}">
                {% if section.settings.custom_link_icon != blank %}
                  {% render 'g-render-image',
                    class: 'jc-w-5 jc-h-5 jc-object-contain',
                    img_src: section.settings.custom_link_icon.url,
                    img: section.settings.custom_link_icon,
                    size: '48 96 200',
                    alt: section.settings.custom_link_icon.alt,
                    width: 20,
                    height: 20,
                    loading: 'eager',
                  %}
                {% endif %}
                <span class="jc-inline-block">
                  {{ section.settings.custom_link_text }}
                </span>
              </a>
            </li>
          {%- endif -%}
        </ul>
      </nav>
      <div class="grid w-full drawer__footer">
        {%- liquid
          if section.settings.enable_language_selector and localization.available_languages.size > 1
            assign enable_language_selector = true
          endif
          if section.settings.enable_country_selector and localization.available_countries.size > 1
            assign enable_country_selector = true
          endif
        -%}
        {%- if enable_language_selector or enable_country_selector -%}
          <div class="flex drawer__footer-top">
            {%- if enable_language_selector -%}
              <button type="button" class="flex items-center justify-between gap-3 grow" aria-controls="LocalizationLanguage-{{ section.id }}" aria-expanded="false">
                <span class="flex items-center w-auto gap-2 text-sm leading-none">
                  {%- render 'icon', icon: 'language', size: 'xs', class: 'stroke-1 hidden md:block shrink-0' -%}
                  {{- localization.language.endonym_name | capitalize -}}
                </span>
                {%- render 'icon', icon: 'chevron-down', size: 'xs', class: 'flex-auto' -%}
              </button>
            {%- endif -%}
            {%- if enable_country_selector -%}
              <button type="button" class="flex items-center justify-between gap-3 grow" aria-controls="LocalizationCountry-{{ section.id }}" aria-expanded="false"> 
                <span class="flex items-center w-auto gap-2 text-sm leading-none">
                  {%- render 'icon', icon: 'currency', size: 'xs', class: 'stroke-1 hidden md:block shrink-0' -%}
                  {{- localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})
                </span>
                {%- render 'icon', icon: 'chevron-down', size: 'xs', class: 'flex-auto' -%}
              </button>
            {%- endif -%}

            {%- if enable_language_selector -%}
              <modal-element id="LocalizationLanguage-{{ section.id }}" class="absolute bottom-0 left-0 invisible w-full h-full modal" role="dialog" hidden>
                <overlay-element class="absolute top-0 left-0 w-full h-full opacity-0 fixed-modal z-1" aria-controls="LocalizationLanguage-{{ section.id }}" aria-expanded="false"></overlay-element>
                <div class="absolute bottom-0 left-0 flex flex-col w-full modal__container z-3">
                  <button class="absolute top-0 right-0 items-center justify-center close" type="button" is="magnet-button" aria-controls="LocalizationLanguage-{{ section.id }}" aria-expanded="false" aria-label="{{ 'general.accessibility.close' | t | escape }}">
                    <span class="inline-block" data-text>
                      {%- render 'icon', icon: 'close' -%}
                    </span>
                  </button>
                  {%- form 'localization', id: 'localization_language_form_header_drawer', class: 'modal__content flex flex-col overflow-hidden', is: 'localization-listbox' -%}
                    <ul class="grid modal__scrollable listbox gap-1d5 xl:gap-2" role="list" tabindex="-1">
                      {%- for language in localization.available_languages -%}
                        <li class="opacity-0">
                          <a class="text-sm reversed-link{% if language.iso_code == localization.language.iso_code %} active{% endif %}"
                            href="#"
                            hreflang="{{ language.iso_code }}"
                            lang="{{ language.iso_code }}"
                            {% if language.iso_code == localization.language.iso_code %}
                              aria-current="true"
                            {% endif %}
                            data-value="{{ language.iso_code }}"
                          >
                            {{- language.endonym_name | capitalize -}}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                    <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}" />
                  {%- endform -%}
                </div>
              </modal-element>
            {%- endif -%}
            {%- if enable_country_selector -%}
              <modal-element id="LocalizationCountry-{{ section.id }}" class="absolute bottom-0 left-0 invisible w-full h-full modal" role="dialog" hidden>
                <overlay-element class="absolute top-0 left-0 w-full h-full opacity-0 fixed-modal z-1" aria-controls="LocalizationCountry-{{ section.id }}" aria-expanded="false"></overlay-element>
                <div class="absolute bottom-0 left-0 flex flex-col w-full modal__container z-3">
                  <button class="absolute top-0 right-0 items-center justify-center close" type="button" aria-controls="LocalizationCountry-{{ section.id }}" aria-expanded="false" is="magnet-button" aria-label="{{ 'general.accessibility.close' | t | escape }}">
                    <span class="inline-block" data-text>
                      {%- render 'icon', icon: 'close' -%}
                    </span>
                  </button>
                  {%- form 'localization', id: 'localization_country_form_header_drawer', class: 'modal__content flex flex-col overflow-hidden', is: 'localization-listbox' -%}
                    {%- render 'corner', dir: 'top', prefix: 'dropdown' -%}
                    <ul class="grid modal__scrollable listbox gap-1d5 xl:gap-2" role="list" tabindex="-1">
                      {%- for country in localization.available_countries -%}
                        <li class="opacity-0">
                          <a class="text-sm reversed-link{% if country.iso_code == localization.country.iso_code %} active{% endif %}"
                            href="#"
                            {% if country.iso_code == localization.country.iso_code %}
                              aria-current="true"
                            {% endif %}
                            data-value="{{ country.iso_code }}"
                          >
                            {{- country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                    <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}" />
                  {%- endform -%}
                </div>
              </modal-element>
            {%- endif -%}
          </div>
        {%- endif -%}
        <div class="flex items-center justify-between gap-6 drawer__footer-bottom">
          {%- if shop.customer_accounts_enabled -%}
            <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="button button--primary icon-with-text" is="hover-link">
              <span class="btn-fill" data-fill></span>
              <span class="btn-text">
                {%- liquid
                  render 'icon', icon: 'account-alt', size: 'xs'
                  if customer
                    echo 'customer.account.title' | t
                  else
                    echo 'customer.login.title' | t
                  endif
                -%}
              </span>
            </a>
          {%- endif -%}
          {%- liquid
            if section.settings.show_social
              render 'social-icons', size: 'sm', gap: '6'
            endif
          -%}
        </div>
      </div>
    </div>
  </div>
</menu-drawer>
