{%- liquid
  unless limit
    assign limit = main_menu.links.size
  endunless
  unless offset
    assign offset = 0
  endunless

  assign menu_active = section.settings.menu_active
-%}

<ul class="flex flex-wrap{% unless section.settings.hover_menu %} gap-1{% endunless %} list-menu with-{{ menu_active }}">
  {%- for link in main_menu.links limit: limit offset: offset -%}
    {%- liquid
      assign enable_mega_menu = false
      assign link_title_handle = link.title | downcase | handle

      for block in section.blocks
        assign menu_title_handle = block.settings.menu_title | downcase | handle
        if menu_title_handle == link_title_handle
          assign enable_mega_menu = true
          assign mega_menu_block = block
          break
        endif
      endfor
    -%}
    {% if link.object.metafields.jolly_meta.menu_badge.value != blank %}
      {% capture badge %}<span class="jc-bg-vividTangelo jc-text-white jc-font-['din_next'] jc-font-medium jc-text-xs md:jc-text-sm jc-leading-3 md:jc-leading-5 jc-px-1.5 jc-pt-1 jc-pb-0.5 jc-rounded-xxs">{{ link.object.metafields.jolly_meta.menu_badge.value }}</span>{% endcapture %}
    {% endif %}
    
    {%- if enable_mega_menu -%}
      <li>
        <details is="details-mega" trigger="{% if section.settings.hover_menu %}hover{% else %}click{% endif %}" level="top" {{ mega_menu_block.shopify_attributes }}>
          <summary data-link="{{ link.url }}">
            <magnet-element class="relative flex items-center font-medium cursor-pointer menu__item text-sm-lg z-2"{% if menu_active == 'block' %} data-magnet="0"{% endif %}>
              <span class="btn-text" data-text>
                {%- liquid
                  echo link.title
                  unless section.settings.hover_menu
                    render 'icon', icon: 'chevron-menu'
                  endunless
                -%}
              </span>
              {%- if menu_active == 'block' -%}
                <span class="btn-text btn-duplicate">
                  {%- liquid
                    echo link.title
                    unless section.settings.hover_menu
                      render 'icon', icon: 'chevron-menu'
                    endunless
                  -%}
                </span>
              {%- endif -%}
            </magnet-element>
          </summary>
          <div class="absolute top-0 left-0 w-full max-w-full overflow-hidden pointer-events-none mega-menu">
            {%- render 'header-nav-mega', link: link, block: mega_menu_block, full_width: section.settings.full_width -%}
          </div>
        </details>
      </li>
    {%- elsif link.links != blank -%}
      <li>
        <details is="details-dropdown" trigger="{% if section.settings.hover_menu %}hover{% else %}click{% endif %}" level="top">
          <summary data-link="{{ link.url }}">
            <magnet-element class="relative flex items-center font-medium cursor-pointer menu__item text-sm-lg z-2"{% if menu_active == 'block' %} data-magnet="0"{% endif %}>
              <span class="btn-text" data-text>
                {%- liquid
                  echo link.title
                  unless section.settings.hover_menu
                    render 'icon', icon: 'chevron-menu'
                  endunless
                -%}
              </span>
              {%- if menu_active == 'block' -%}
                <span class="btn-text btn-duplicate">
                  {%- liquid
                    echo link.title
                    unless section.settings.hover_menu
                      render 'icon', icon: 'chevron-menu'
                    endunless
                  -%}
                </span>
              {%- endif -%}
            </magnet-element>
          </summary>
          <div class="absolute top-0 invisible max-w-full opacity-0 pointer-events-none dropdown">
            <div class="relative dropdown__container">
              {%- render 'corner', dir: 'top', prefix: 'dropdown' -%}
              <ul class="grid dropdown__nav gap-1d5 xl:gap-2" role="list">
                {%- for childlink in link.links -%}
                  {%- if childlink.links != blank -%}
                    <li class="relative opacity-0">
                      <details is="details-dropdown" trigger="hover" level="child">
                        <summary data-link="{{ childlink.url }}">
                          <a href="{{ childlink.url }}" class="reversed-link text-sm-base" tabindex="-1">{{ childlink.title }}</a>
                        </summary>
                        <div class="absolute top-0 max-w-full opacity-0 pointer-events-none dropdown left-100">
                          <div class="dropdown__container">
                            <ul class="grid dropdown__nav gap-1d5 xl:gap-2" role="list">
                              {%- for grandchildlink in childlink.links -%}
                                <li class="opacity-0">
                                  <p>
                                    <a href="{{ grandchildlink.url }}" class="reversed-link text-sm-base">{{ grandchildlink.title }}</a>
                                  </p>
                                </li>
                              {%- endfor -%}
                            </ul>
                          </div>
                        </div>
                      </details>
                    </li>
                  {%- else -%}
                    <li class="opacity-0">
                      <p>
                        <a href="{{ childlink.url }}" class="reversed-link text-sm-base">{{ childlink.title }}</a>
                      </p>
                    </li>
                  {%- endif -%}
                {%- endfor -%}
              </ul>
            </div>
          </div>
        </details>
      </li>
    {%- else -%}
      <li>
        <a href="{{ link.url }}" class="relative flex items-center font-medium cursor-pointer menu__item text-sm-lg z-2" is="magnet-link"{% if menu_active == 'block' %} data-magnet="0"{% endif %}>
          <span class="btn-text" data-text>
            {{ link.title }}
            {% if link.object.metafields.jolly_meta.menu_badge.value != blank %}
              {{ badge }}
            {% endif %}
          </span>
          {%- if menu_active == 'block' -%}
            <span class="btn-text btn-duplicate jc-w-fit">
              {{ link.title }}
              {% if link.object.metafields.jolly_meta.menu_badge.value != blank %}
                {{ badge }}
              {% endif %}
            </span>
          {%- endif -%}
        </a>
      </li>
    {%- endif -%}
  {%- endfor -%}
</ul>
