<details is="menu-details">
  <summary class="relative block text-2xl font-bold leading-none tracking-tight cursor-pointer drawer__menu-item" aria-expanded="false">
    {{- link.title | escape -}}
  </summary>
  <div class="absolute top-0 left-0 flex flex-col w-full h-full drawer__submenu z-1" data-parent>
    <button type="button" class="flex items-center w-full gap-3 text-base font-bold tracking-tight shrink-0">{{ link.title | escape }}</button>
    <ul class="flex flex-col h-full drawer__scrollable">
      {%- for childlink in link.links -%}
        <li>
          {%- if childlink.links != blank -%}
            <details is="menu-details">
              <summary class="relative block text-2xl font-bold leading-none tracking-tight cursor-pointer drawer__menu-item" aria-expanded="false">
                {{- childlink.title | escape -}}
              </summary>
              <div class="absolute top-0 left-0 w-full h-full drawer__submenu z-1">
                <button type="button" class="flex items-center w-full gap-3 text-base font-bold tracking-tight">{{ childlink.title | escape }}</button>
                <ul class="grid">
                  {%- for grandchildlink in childlink.links -%}
                    <li>
                      <a class="block text-2xl font-bold leading-none tracking-tight drawer__menu-item" href="{{ grandchildlink.url }}">{{ grandchildlink.title | escape }}
                        {% if link.object.metafields.jolly_meta.menu_badge.value != blank %}
                          {{ badge }}
                        {% endif %}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </details>
          {%- else -%}
            <a class="block text-2xl font-bold leading-none tracking-tight drawer__menu-item" href="{{ childlink.url }}">{{ childlink.title | escape }}
          </a>
          {%- endif -%}
        </li>
      {%- endfor -%}

      {%- if enable_mega_menu -%}
        {%- liquid
          assign show_promotions = false
          if block.settings.promo_image_1 != blank or block.settings.promo_image_2 != blank or block.settings.promo_image_3 != blank or block.settings.promo_image_4 != blank or block.settings.promo_image_5 != blank
            assign show_promotions = true
          endif
        -%}
      {%- endif -%}
      {%- if show_promotions -%}
        <li class="drawer__promotions">
          <ul class="grid w-full h-full grid-cols-2 mega-menu__list" role="list" tabindex="-1">
            {%- for i in (1..5) -%}
              {%- liquid
                assign promo_image = 'promo_image_' | append: i
                assign promo_image = block.settings[promo_image]
              -%}
              {%- if promo_image != blank -%}
                {%- liquid
                  assign promo_image_ratio = 'promo_image_ratio_' | append: i
                  assign promo_image_ratio = block.settings[promo_image_ratio]
    
                  assign promo_heading = 'promo_heading_' | append: i
                  assign promo_heading = block.settings[promo_heading]
    
                  assign promo_subtext = 'promo_subtext_' | append: i
                  assign promo_subtext = block.settings[promo_subtext]
    
                  assign promo_overlay_content = 'promo_overlay_content_' | append: i
                  assign promo_overlay_content = block.settings[promo_overlay_content]
    
                  assign promo_link = 'promo_link_' | append: i
                  assign promo_link = block.settings[promo_link]
  
                  assign promo_tag = 'promo_tag_' | append: i
                  assign promo_tag = block.settings[promo_tag]
    
                  assign promo_color_text = 'promo_color_text_' | append: i
                  assign promo_color_text = block.settings[promo_color_text]
    
                  assign promo_color_overlay = 'promo_color_overlay_' | append: i
                  assign promo_color_overlay = block.settings[promo_color_overlay]
    
                  assign promo_overlay_opacity = 'promo_overlay_opacity_' | append: i
                  assign promo_overlay_opacity = block.settings[promo_overlay_opacity]
                -%}
                <li class="mega-menu__item media-card media-card--{{ settings.card_style }}{% if promo_overlay_content %} media-card--overlap{% endif %} overflow-hidden opacity-0 w-full">
                  <a class="relative grid w-full h-full media-card__link"{% if promo_link != blank %} href="{{ promo_link }}"{% else %} role="link" aria-disabled="true"{% endif %}
                    style="--color-foreground: {{ promo_color_text.rgb }}; --color-overlay: {{ promo_color_overlay.rgb }}; --overlay-opacity: {{ promo_overlay_opacity | divided_by: 100.0 }};"
                  >
                    {%- if promo_tag != blank -%}
                      <div class="absolute grid gap-3 pointer-events-none badges z-2">
                        <span class="flex items-center font-medium leading-none rounded-full badge badge--onsale gap-1d5">{{ promo_tag | escape }}</span>
                      </div>
                    {%- endif -%}
                    <div class="media media--{{ promo_image_ratio }} relative overflow-hidden">
                      {{- promo_image | image_url: width: promo_image.width | image_tag: loading: 'lazy', widths: '180,360,540,720,900,1080', is: 'lazy-image' -}}
                    </div>
                    {%- if promo_heading != blank or promo_subtext != blank -%}
                      <div class="flex items-center justify-between w-full gap-4 media-card__content">
                        <div class="opacity-0 media-card__text shrink-1">
                          {%- if promo_heading != blank -%}
                            <span class="text-lg font-bold leading-none tracking-tighter heading reversed-link">{{ promo_heading | escape }}</span>
                          {%- endif -%}
                          {%- if promo_subtext != blank -%}
                            <p class="hidden text-xs leading-none xl:text-sm md:block">{{ promo_subtext }}</p>
                          {%- endif -%}
                        </div>
                        {%- render 'icon', icon: 'arrow-right', size: 'xs', class: 'transform shrink-0 hidden md:block' -%}
                      </div>
                    {%- endif -%}
                  </a>
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </li>
      {%- endif -%}
    </ul>
  </div>
</details>
