{%- liquid
  if product.compare_at_price > product.price and show_save_amount
    if save_type == 'label'
      assign saved_amount = save_type
    elsif save_type == 'dollar'
      assign saved_amount = product.compare_at_price | minus: product.price | money
    else
      assign saved_amount = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round
      assign saved_amount = saved_amount | append: '%'
    endif
  endif
-%}
<div
  class="
    badges{% if class != blank %} {{ class }}{% endif %} min-[639px]:!jc-w-[calc(100%_-_24px)] !jc-w-[calc(100%_-_16px)]
    {% if is_vertical_on_mobile == false %}
      max-[639px]:jc-flex-col
    {% endif %} pointer-events-none  jc-justify-between
  "
>
  {%- if product.metafields.theme.label.value != blank -%}
    {%- capture styles -%}
      {%- if product.metafields.theme.label_color.value != blank -%}
        --badge-background: {{ product.metafields.theme.label_color.value }}; --badge-foreground: #ffffff;
      {%- endif -%}
    {%- endcapture -%}
    {%- for label in product.metafields.theme.label.value -%}
      {% comment %}DIALECT - START Add label name in badge class so we can style it easily{% endcomment %}
      {%- assign label = label | replace: ' ', '-' -%}
      {% comment %} Add an exception for Bestsellers {% endcomment %}
      {%- unless label contains 'Best Seller' -%}
        <span
          class="{{- label | remove:" " | escape | append: " " -}} badge !jc-tracking-[0.045em] jc-uppercase flex items-center gap-1d5 font-medium leading-none rounded-full"
          {% if styles != blank %}
            style="{{ styles }}"
          {% endif %}
        >
          {{- label | escape -}}
        </span>
      {%- endunless -%}
      {% comment %}DIALECT - END Add label name in badge class so we can style it easily{% endcomment %}
    {%- endfor -%}
  {%- endif -%}
</div>

{% comment %}START DIALECT - Added Sale Badge in another badges container to place it in the up-right corner{% endcomment %}
{%- if saved_amount != blank -%}
  <div class="badges cust_badges-right{% if class != blank %} {{ class }}{% endif %} pointer-events-none">
    {% comment %} START DIALECT - Add Bestseller label above the discount percentage label {% endcomment %}
    {%- for label in product.metafields.theme.label.value -%}
      {% comment %}DIALECT - START Add label name in badge class so we can style it easily{% endcomment %}
      {%- assign label = label | replace: ' ', '-' -%}
      {%- if label contains 'Bestseller' -%}
        <span
          class="{{- label | remove:" " | escape | append: " " -}} badge flex items-center gap-1d5 font-medium leading-none rounded-full"
          {% if styles != blank %}
            style="{{ styles }}"
          {% endif %}
        >
          {{- label | escape -}}
        </span>
      {%- endif -%}
      {% comment %}DIALECT - END Add label name in badge class so we can style it easily{% endcomment %}
    {%- endfor -%}
    {% comment %} END DIALECT - Add Bestseller label above the discount percentage label {% endcomment %}

    <span class="flex items-center font-medium leading-none rounded-full badge badge--onsale gap-1d5">
      {%- liquid
        if save_type == 'label'
          echo 'products.general.sale' | t
        else
          echo 'products.general.save_html' | t: saved_amount: saved_amount
        endif
      -%}
    </span>
  </div>
{%- endif -%}
{% comment %} END DIALECT - Added Sale Badge in another badges container to place it in the up-right corner{% endcomment %}
