{% comment %}
  Snippet: product-accordion-info-item
  Created by: Nazarii Prokopchuk

  Passed variables:
  - item_id: {String} unique id of faq item,
  - section_id: {String} unique id of section where the faq item is placed,
  - dropdown_icon_type: {String} (arrow | plus_minus) dropdown icon type ,
  - input_type: {String} (radio | checkbox) input type, affects whether one or more accordions can be opened simultaneously,
  - additional_icon: {Object} additional icon that will be displayed near title,
  - item_title: {Object | String} faq item title,
  - item_content: {Object | String} faq item content,
  - is_open: {Boolean} affects whether accordion is open by default

  Used snippets:
  - icon
  - g-render-image

  Render example:
  {% render 'product-accordion-info-item',
      item_id: item_id,
      section_id: section.id,
      dropdown_icon_type: "plus_minus",
      input_type: "checkbox",
      item_title: info_item.title,
      item_text: info_item.text,
      item_note_list: info_item.list_of_notes.value
      open_first: false,
      forloop_index: forloop.index
  %}
{% endcomment %}

{% capture dropdown_icon %}
  {% assign icon_class = 'jc-w-full jc-h-full jc-absolute jc-inset-0 jc-transition-transform' %}
    {%- case dropdown_icon_type -%}
      {% when 'arrow' %}
        <div class="arrow jc-w-4 jc-h-4 jc-relative jc-self-center">
          {% render 'icon', icon: 'chevron-down', class: icon_class %}
        </div>
      {% when 'plus_minus' %}
        <div class="plus-minus jc-w-4 jc-h-4 jc-relative jc-self-center">
          {% assign icon_class_minus = icon_class | append: ' jc-rotate-90' %}
          {% render 'icon', icon: 'minus-2', class: icon_class_minus %}
          {% render 'icon', icon: 'minus-2', class: icon_class %}
        </div>
    {%- endcase -%}
{% endcapture %}

<div>
  <input
    id="{{ item_id }}"
    class="!jc-hidden jc-peer"
    name="{{ section_id }}"
    {%- if input_type == 'checkbox' -%}
      type="checkbox"
    {%- else -%}
      type="radio"
    {%- endif -%}
    {%- if open_first and forloop_index == 1 -%}
      checked
    {%- endif -%}
  >
  <label
    for="{{ item_id }}"
    class="
      jc-text-left !jc-flex jc-justify-between jc-pb-3 !jc-cursor-pointer
      [&_.arrow_svg:first-child]:peer-checked:jc-rotate-180
      [&_.plus-minus_svg:first-child]:peer-checked:jc-rotate-0
    "
  >
    <div class="jc-flex jc-gap-2 jc-text-base jc-leading-6 jc-font-bold">
      {% if additional_icon %}
        {% render 'g-render-image',
          class: 'jc-w-4 jc-w-4',
          img_src: additional_icon.url,
          img: additional_icon,
          size: '16 32',
          alt: additional_icon.alt,
          width: '16',
          height: '16',
          loading: 'lazy'
        %}
      {% endif %}
      {{- item_title -}}
    </div>
    {{- dropdown_icon -}}
  </label>

  <div
    class="
      jc-text-left jc-overflow-hidden jc-grid jc-grid-rows-[0fr] jc-transition-all jc-duration-300 jc-ease-in-out peer-checked:jc-grid-rows-[1fr]
      jc-border-0 jc-border-b jc-border-solid jc-border-lightGray
    "
  >
    <div class="jc-min-h-0">
      <div class="jc-pb-3 jc-flex jc-flex-col jc-gap-4 lg:jc-gap-6 [&_*]:jc-text-sm [&_*]:jc-leading-5">
        {% if item_text != blank %}
          <div>
            {{ item_text | metafield_tag }}
          </div>
        {% endif %}
        {% if item_note_list != blank %}
          {% for note in item_note_list %}
            <div class="jc-flex jc-gap-x-4 jc-gap-y-2 jc-items-start jc-flex-wrap">
              {% assign note_name = note.note_name.value %}
              {% if note_name != blank %}
                <div class="jc-flex jc-items-center jc-gap-2 jc-py-1 max-md:jc-w-full">
                  {% render 'g-render-image',
                    class: 'jc-w-6 jc-h-6 md:jc-w-8 md:jc-h-8',
                    img_src: note_name.icon.url,
                    img: note_name.icon,
                    size: '24 32 64',
                    alt: note_name.icon.alt,
                    width: '32',
                    height: '32',
                    loading: 'lazy'
                  %}
                  <p class="jc-m-0 jc-min-w-[64px] jc-text-xs jc-leading-4 jc-tracking-[2px] jc-font-bold jc-uppercase">
                    {{- note.note_name.value.title -}}
                  </p>
                </div>
              {% endif %}

              <div class="jc-flex jc-gap-2 lg:jc-gap-4 jc-flex-wrap">
                {% assign icons_title_list = note.list_of_icon_title.value %}
                {% for icon_title in icons_title_list %}
                  {%- if icon_title.icon != blank or icon_title.title != blank -%}
                    <div class="jc-flex jc-items-center jc-gap-2 jc-py-2 jc-px-4 jc-rounded-full jc-bg-light-yellow">
                      {%- if icon_title.icon != blank -%}
                        {% render 'g-render-image',
                          class: 'jc-w-6 jc-h-6',
                          img_src: icon_title.icon.url,
                          img: icon_title.icon,
                          size: '24 48',
                          alt: icon_title.icon.alt,
                          width: '24',
                          height: '24',
                          loading: 'lazy'
                        %}
                      {%- endif -%}
                      {%- if icon_title.title != blank -%}
                        <p class="jc-m-0 jc-text-sm jc-leading-5 jc-capitalize">{{ icon_title.title }}</p>
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
