{% comment %}
  Snippet: quiz-recommendations-card
  Created by: Volodymyr Korolchuk

  Passed variables:
  - root: {Object} section object
  - product: {Object} product object
  - index: {Number} number of the product in a sequence
  - total_count: {Number} total amount of cards
{% endcomment %}


{% liquid
  assign root = root | default: section
  assign main_notes = product.metafields.jolly_meta.main_notes.value
%}

{%- capture product_notes -%}
  {%- if main_notes != blank -%}
    <div class="jc-flex jc-gap-2 jc-flex-wrap jc-mt-2">
      {% for note in main_notes %}
        {%- if forloop.index > 3 -%}
          {% break %}
        {%- endif -%}

        <div class="jc-flex jc-items-center jc-gap-1 jc-py-2 jc-px-3 jc-rounded-full jc-bg-blanchedAlmond">
          {%- if note.icon != blank -%}
            {% render 'g-render-image',
              class: 'jc-w-4 jc-h-4',
              img_src: note.icon.url,
              img: note.icon,
              size: '24 48',
              alt: note.icon.alt,
              width: '24',
              height: '24',
              loading: 'lazy'
            %}
          {%- endif -%}
          {%- if note.title != blank -%}
            <p class="jc-m-0 jc-text-xs jc-leading-3 jc-capitalize">{{ note.title }}</p>
          {%- endif -%}
        </div>
      {% endfor %}
    </div>
  {%- endif -%}
{%- endcapture -%}

{%- if product != blank -%}
  {%- liquid
    assign featured_media = product.featured_media

    assign product_url = product.url | within: collection
    if settings.product_disable_collection_portion
      assign product_url = product.url
    endif
  -%}
  <div class="card product-card product-card--{{ settings.card_style }}{% if settings.card_border_thickness > 0 %} product-card--thickness{% endif %}{% unless featured_media %} no-media{% endunless %}{% if product.available and show_quick_add and mobile_quick_add %} mobile:with-quick-add{% endif %} jc-flex jc-flex-col leading-none relative jc-overflow-visible jc-rounded-lg jc-h-[inherit]">
    {%- if featured_media -%}
      <div class="relative h-auto product-card__media">
        {%- if index != blank and total_count != blank -%}
          <span class="jc-absolute jc-px-0 md:jc-px-2.5 jc-pt-3.5 jc-pb-2.5 md:jc-pt-4 jc-flex jc-items-center jc-justify-center jc-top-0 jc-left-1/2 -jc-translate-x-[50%] -jc-translate-y-[50%] jc-w-12 jc-h-12 md:jc-w-20 md:jc-h-20 jc-bg-black jc-border-4 md:jc-border-8 jc-border-solid jc-border-white jc-rounded-full jc-text-md md:jc-text-3xl jc-leading-5 md:jc-leading-10 jc-text-white jc-text-center jc-font-['Sequel45'] jc-z-[1]">
            {{- index -}}
            &sol;{{ total_count }}
          </span>
        {%- endif -%}
        {%- if show_quick_view -%}
          <button type="button" class="absolute top-0 right-0 opacity-0 quick-view__button button button--secondary z-2" is="hover-button" aria-controls="Quickview-{{ section_id }}-{{ product.id }}" aria-expanded="false">
            <span class="btn-fill" data-fill></span>
            <span class="btn-text">
              {%- render 'icon', icon: 'eye', size: 'sm' -%}
              <span class="sr-only">{{ 'products.product.quick_view' | t }}</span>
            </span>
          </button>
          <quick-view id="Quickview-{{ section_id }}-{{ product.id }}" class="fixed bottom-0 left-0 z-30 w-full h-full pointer-events-none quick-view x-modal drawer" data-product-url="{{ product_url }}" role="dialog" aria-label="{{ 'products.product.choose_product_options' | t: product_name: product.title | escape }}" aria-modal="true">
            <overlay-element class="fixed bottom-0 left-0 invisible w-full h-screen opacity-0 pointer-events-none overlay fixed-modal" aria-controls="Quickview-{{ section_id }}-{{ product.id }}" aria-expanded="false"></overlay-element>
            <div class="absolute top-0 z-10 flex flex-col w-full h-full overflow-hidden drawer__inner">
              <gesture-element class="relative flex items-center justify-between invisible opacity-0 drawer__header">
                <button class="absolute top-0 right-0 flex items-center justify-center opacity-0 button button--secondary button--close drawer__close z-1" type="button" is="hover-button" aria-controls="Quickview-{{ section_id }}-{{ product.id }}" aria-expanded="false" aria-label="{{ 'general.accessibility.close' | t | escape }}">
                  <span class="btn-fill" data-fill></span>
                  <span class="btn-text">
                    {%- render 'icon', icon: 'close', size: 'sm' -%}
                  </span>
                </button>
              </gesture-element>
              <div class="flex flex-col invisible h-full opacity-0 quick-view__content drawer__content grow shrink"></div>
            </div>
          </quick-view>
        {%- endif -%}

        {%- if show_rating -%}
          {%- liquid
            assign rating_max = 5
          
            if product.metafields.reviews.rating.value != blank
              assign rating_value = product.metafields.reviews.rating.value.rating | round: 1
              assign rating_count = product.metafields.reviews.rating_count.value
              assign rating_max = product.metafields.reviews.rating.value.scale_max
            elsif show_empty
              assign rating_value = 0.0
              assign rating_count = 0
            elsif show_placeholder
              assign rating_value = 4.5
              assign rating_count = 2
            else
              assign hide_rating = true
            endif
          -%}
          
          {%- unless hide_rating -%}
            <div class="absolute flex items-center gap-2 rounded-full pointer-events-none rating product-card__rating z-2 md:gap-1d5" title="{{ 'general.accessibility.star_reviews_count' | t: count: rating_count | escape }}">
              <span role="img" aria-label="{{ 'general.accessibility.star_reviews_info' | t: rating_value: rating_value, rating_max: rating_max }}">
                {%- render 'icon', icon: 'star', size: 'xs' -%}
              </span>
              {%- liquid
                if display_mode == 'count'
                  echo 'general.accessibility.star_reviews_count' | t: count: rating_count
                else
                  echo rating_value
                endif
              -%}
            </div>
          {%- endunless -%}
        {%- endif -%}

        {%- render 'product-badges', product: product, show_save_amount: show_save_amount, save_type: save_type, class: 'z-2 absolute grid gap-3' -%}

        <a class="block relative media media--{{ image_ratio }}{% unless image_fill %} media--contain{% endunless %} jc-overflow-hidden jc-rounded-t-lg" href="{{ product_url }}" tabindex="-1">
          {%- unless featured_media.media_type == 'video' or featured_media.media_type == 'external_video' -%}
            {%- if show_secondary_image and product.media.size > 1 -%}
              <template>
                {%- for media in product.media limit: 4 -%}
                  <div class="media media--height{% unless image_fill %} media--contain{% endunless %} w-full h-full">
                    {{- media | image_url: width: media.width | image_tag: loading: 'lazy', widths: '180,360,540,720,900,1080', is: 'lazy-image' -}}
                  </div>
                {%- endfor -%}
              </template>
              <secondary-media class="absolute top-0 left-0 hidden block w-full h-full product-card__carousel md:block"></secondary-media>
            {%- endif -%}

            {{- featured_media | image_url: width: featured_media.width | image_tag: loading: 'lazy', widths: '180,360,540,720,900,1080', is: 'lazy-image' -}}
          {%- else -%}
            {%- render 'product-video',
              video: featured_media,
              muted: false,
              autoplay: false,
              loop: false,
              cover_image: featured_media,
              show_play_button: true,
              class: 'relative w-full overflow-hidden'
            -%}
          {%- endunless -%}
        </a>

        {%- if show_countdown and product.metafields.theme.countdown.value != blank -%}
          {%- liquid
            assign now_time = 'now' | date: '%s' | times: 1
            assign countdown_time = product.metafields.theme.countdown.value | date: '%s' | times: 1
          -%}
          {%- if countdown_time > now_time -%}
            <div class="absolute z-0 justify-center hidden w-full pointer-events-none product-card__countdown sm:flex">
              <div class="button icon-with-text">
                <div class="btn-text">
                  {%- render 'icon', icon: 'countdown-compact', size: 'sm', class: 'flex-auto hidden md:block' -%}
                  <countdown-timer
                    class="flex gap-3"
                    data-year="{{ product.metafields.theme.countdown.value | date: "%Y" }}"
                    data-month="{{ product.metafields.theme.countdown.value | date: "%m" }}"
                    data-day="{{ product.metafields.theme.countdown.value | date: "%d" }}"
                    data-hour="{{ product.metafields.theme.countdown.value | date: "%H" }}"
                    data-minute="{{ product.metafields.theme.countdown.value | date: "%M" }}"
                    data-compact="true"
                  >
                    <div class="countdown__item">
                      <p>--{{ 'general.date.d' | t }}</p>
                    </div>
                    <div class="countdown__item">
                      <p>--{{ 'general.date.h' | t }}</p>
                    </div>
                    <div class="countdown__item">
                      <p>--{{ 'general.date.m' | t }}</p>
                    </div>
                    <div class="countdown__item">
                      <p>--{{ 'general.date.s' | t }}</p>
                    </div>
                  </countdown-timer>
                </div>
              </div>
            </div>
          {%- endif -%}
        {%- endif -%}
      </div>
    {%- else -%}
      <div class="h-auto overflow-hidden product-card__media">
        <span class="block aspect-{{ image_ratio }}"></span>
      </div>
    {%- endif -%}
    <div class="product-card__content flex flex-col{% if featured_media %} jc-justify-between text-{{ settings.card_text_alignment }}{% else %} justify-center items-center absolute top-0 left-0 w-full h-full{% endif %} jc-flex-grow">
      <div class="jc-flex jc-flex-col">
        <div class="jc-flex jc-flex-row w-full jc-gap-1 jc-items-start product-card__details {% unless product.featured_image %}!jc-h-full !jc-items-center{% endunless %}">
          {%  render 'cust__product-card__title-reviews-stars', product: product %}
          {%- render 'product-card-price', product: product, class: 'flex flex-wrap lg:flex-col lg:items-end gap-2 md:gap-1d5',  -%}
        </div>

        <div class="jc-flex jc-flex-row w-full jc-gap-1 jc-items-start product-card__details {% unless product.featured_image %}!jc-h-full !jc-items-center{% endunless %} jc-pt-1">
        <a
          class="cust__product-card__title--mobile reversed-link !jc-bg-none jc-flex-wrap jc-text-sm min-[639px]:jc-text-base jc-leading-4 min-[639px]:jc-leading-5 jc-font-bold jc-uppercase"
          href="{{ product.url }}"
        >
          {{ product.title | escape }}
        </a>
      </div>

      <a href="{{ product_url }}" class="pointer-events-" is="hover-link" aria-label="{{ 'products.product.view_product' | t | escape }}">
        <div class="jc-flex jc-flex-col grow jc-pt-2 jc-pb-2">
          {% if product.metafields.custom.inspired_by_et_retail_price.value %}
            <p class="product-card__inspiredby--label jc-text-sm min-[639px]:jc-text-sm jc-leading-3 min-[639px]:jc-leading-3.5 jc-pb-1 jc-font-bold">Inspired by:</p>
            <p class="product-card__inspiredby--content jc-text-md min-[639px]:jc-text-sm jc-leading-3.5 min-[639px]:jc-leading-4 [&_*]:!jc-font-bold">
              {% case product.metafields.custom.inspiration_brand %}
                {% when 'Chanel' %}
        
                {% else %}
                  <b>
                    {% case product.metafields.custom.inspiration_brand | split:'' | last %}
                      {% when 's' %}
                        {{ product.metafields.custom.inspiration_brand }}'
                      {% else %}
                        {{ product.metafields.custom.inspiration_brand }}'s
                    {% endcase %}
                  </b>
              {% endcase %}
              <span>
                {{- product.metafields.facebook.custom_label_0 -}}
              </span>
            </p>
  
            <p class="!jc-leading-3 lg:!jc-leading-3.5 jc-mt-1">
              <span class="jc-text-xs lg:jc-text-xs jc-leading-3 lg:jc-leading-3.5 jc-mt-1 jc-text-vividTangelo"
                >(Retail Price: {{ product.metafields.pdp.retail_price.value | money_with_currency | split: "." | first }})</span
              >
            </p>
          {% endif %}
        </div>
      </a>
  
        <div class="product-card__filler"></div>
        
        <div class="jc-flex jc-items-end jc-justify-between jc-gap-2">
          {%  render 'cust__product-card__inspired-by', product: product %}
        </div>
  
        {%- if product_notes != blank -%}
          <p class="product-card__inspiredby--label jc-text-sm min-[639px]:jc-text-sm jc-leading-3 min-[639px]:jc-leading-3.5 jc-pb-1 jc-font-bold">Main notes</p>
          {{ product_notes }}
        {%- endif -%}
        
      </div>
    

    
      
        {%- if product.available -%}
        {%- if show_quick_add -%}
          <div class="flex justify-end w-full pointer-events-none quick-add-quiz md:justify-center z-1 {% if is_vertical_on_mobile %}!jc-flex{% endif %} jc-mt-4">
            {%- if product.variants.size == 1 -%}
              {%- capture product_form_id -%}QuickAddProductForm-{{ section_id }}-{{ product.id }}{%- endcapture -%}
              {%- form 'product', product, is: 'product-form', id: product_form_id, class: 'jc-w-full jc-mt-3 min-[639px]:jc-mt-4' -%}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" />
                {%- liquid
                  if product.template_suffix != 'pre-order'
                    assign quick_add_label = 'products.product.add_to_cart_short' | t
                  else
                    assign quick_add_label = 'products.product.pre_order' | t
                  endif
                -%}
                <button type="submit" class="pointer-events-auto jc-py-2 jc-px-10 jc-w-full jc-border jc-border-solid jc-rounded-xs jc-bg-white !jc-text-sm min-[639px]:!jc-text-base jc-font-medium !jc-leading-6 hover:jc-border-vividTangelo hover:jc-text-vividTangelo jc-transition-all" data-variant-id="{{ product.selected_or_first_available_variant.id }}" aria-label="{{ quick_add_label | escape }}">
                  {{- quick_add_label -}}
                </button>
              {%- endform -%}
            {%- else -%}
              {%- if show_quick_view -%}
                <button type="button" class="pointer-events-auto jc-py-2 jc-px-10 jc-w-full jc-border jc-border-solid jc-rounded-xs jc-bg-white !jc-text-sm min-[639px]:!jc-text-base jc-font-medium !jc-leading-6 hover:jc-border-vividTangelo hover:jc-text-vividTangelo jc-transition-all" aria-controls="Quickview-{{ section_id }}-{{ product.id }}" aria-expanded="false" aria-label="{{ 'products.product.choose_options' | t | escape }}">
                  <span class="btn-fill" data-fill></span>
                  <span class="btn-text">
                    {%- render 'icon', icon: 'cart', size: 'sm', class: 'md:hidden' -%}
                    <span class="hidden md:block">
                      {{- 'products.product.choose_options' | t -}}
                    </span>
                  </span>
                </button>
              {%- else -%}
                <a href="{{ product_url }}" target="_blank" class="pointer-events-auto jc-py-2 jc-px-10 jc-w-full jc-border jc-border-solid jc-rounded-xs jc-bg-white !jc-text-sm min-[639px]:!jc-text-base jc-font-medium !jc-leading-6 hover:jc-border-vividTangelo hover:jc-text-vividTangelo jc-transition-all" is="hover-link" aria-label="{{ 'products.product.view_product' | t | escape }}">
                  <span class="btn-fill" data-fill></span>
                  <span class="btn-text">
                    {%- render 'icon', icon: 'cart', size: 'sm', class: 'md:hidden' -%}
                    <span class="md:block jc-ml-2">
                      {% comment %}
                        {{- 'products.product.view_product' | t -}}
                      {% endcomment %}
                      {{- 'products.product.choose_options' | t -}}
                    </span>
                  </span>
                </a>
              {%- endif -%}
            {%- endif -%}
          </div>
        {%- endif -%}
      {%- else -%}
        <div class="flex justify-center w-full pointer-events-none quick-add z-1 {% if is_vertical_on_mobile %}!jc-flex{% endif %}">
          <button class="pointer-events-auto jc-py-2 jc-px-10 jc-opacity-60 jc-text-black/80 jc-w-full jc-border jc-border-solid jc-border-black/80 jc-rounded-xs jc-bg-white !jc-text-sm min-[639px]:!jc-text-base jc-font-medium !jc-leading-6 jc-mt-2 min-[639px]:jc-mt-4" data-variant-id="{{ product.selected_or_first_available_variant.id }}" aria-label="{{ quick_add_label | escape }}" disabled="disabled">
            {{- 'products.product.sold_out' | t -}}
          </button>
        </div>
      {%- endif -%}
      
    </div>
  </div>
{%- else -%}
  {%- render 'product-card-placeholder', placeholder: 'image', image_ratio: image_ratio, text_alignment: text_alignment, show_vendor: show_vendor, show_rating: show_rating -%}
{%- endif -%}
